<div class="card">
    <div class="card-header">
        Lista
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Rol</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody *ngIf="rolesList.length > 0; else sinResultados">
                <tr *ngFor="let rol of rolesList; let miIndice = index">
                    <td>{{ (miIndice+1) }}</td>
                    <td>{{ rol.nombre }}</td>
                    <td>
                        <span *ngIf="rol.activo">Activo</span>
                        <span *ngIf="!rol.activo">Desactivo</span>
                    </td>
                    <td>
                        <button class="btn btn-info" style="margin-right: 0.3rem"
                            (click)="onEditar(rol)">Editar</button>
                        <button class="btn btn-danger" (click)="onEliminar(miIndice)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
            <ng-template #sinResultados>
                <tbody>
                    <tr>
                        <td colspan="3" class="text-center">
                            Sin resultados.
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div>